<h2>Below are your instruments and accessories</h2>

<h3>Instruments</h3>
<% @instruments.each do |instrument| %>
  <li><%= instrument.type_of %></li>
<% end %><br />

<h3>Accessories</h3>
<% @accessories.each do |accessory| %>
  <li><%= accessory.type_of %></li>
<% end %><br />

<p><a href="/instruments/new">Add New Instrument</a></p>
<p><a href="/accessories/new">Add New Accessory</a></p>
<p><a href="/instruments">View All Instruments</a></p>
<p><a href="/accessories">View All Accessories</a></p>
<p><a href="/logout">Logout</a></p>
