This will list all instruments and accessories for the user logged in.


<p><a href="/new_instrument">Add New Instrument</a></p>
<p><a href="/new_accessory">Add New Accessory</a></p>
<br />
<a href="/logout">Logout</a>
