<div class="container">
  <header><img src="images/header2.jpg" class="img-responsive main-image" style="width:500px;height:100px;"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Musical Instrument Manager!</h2>

    <div class="content">
      <p><a href="">Sign in</a> to view your instruments and accessories.</p>
      <p><a href="">Sign up</a> if you do not have an account.</p>
    </div>

  </div>
</div>
