<h2>Please fill out the fields below to store a new instrument.</h2>

<form method="POST" action="/instruments">
  <input type="text" name="type_of" placeholder="Type:*" required /><br />
  <input type="text" name="make" placeholder="Make:*" required /><br />
  <input type="text" name="model" placeholder="Model:*" required /><br /><br />
  <!-- Status needs to be a radio option. -->
  Status: <% @statuses.each do |status| %>
    <input type="radio" name="status" value="<%= status %>"><%= status %></input>
  <% end %><br /><br />

  <input type="text" name="status_comments" id="status_comments" placeholder="Status Comments:" /><br /><br />
  <input type="submit" value="Add New Instrument" />
</form>

<br />
<p>Fields marked with (*) are required.</p>
